#Folder
Chapter02\Ch02_05-terraform-eks\terraform-codes\source\.terraform
Chapter02\Ch02_06-terraformer-eks\terraform-codes\source\.terraform

#file
Chapter02\Ch02_05-terraform-eks\terraform-codes\source\.terraform.lock.hcl
Chapter02\Ch02_05-terraform-eks\terraform-codes\source\terraform.tfstate

Chapter02\Ch02_06-terraformer-eks\terraform-codes\source\.terraform.lock.hcl
Chapter02\Ch02_06-terraformer-eks\terraformer\auto_scaling\terraform.tfstate
Chapter02\Ch02_06-terraformer-eks\terraformer\terraform.tfstate